*
!*/
discord/**
!i3/**
!polybar/**
!.gitignore
!dunst/**
!.zshrc
!.vimrc
!.imwheelrc
!fakeroot/**
!nvim/**
!scripts/**
!alacritty/**
!.Xresources
!pkglist.txt
!.conky/**
!.conkyrc
!.vim/**
!aliases.sh
!awesome/**
!qtile/**
!autostart.sh
!rofi/**
