! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #030303
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
Alacritty.font: xft:Hack:size=11
rofi.separator-style:   dash
rofi.fullscreen:        true
rofi.padding:           400
rofi.lines: 		1 
rofi.columns: 		2
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.fake-transparency: false
rofi.yoffset:           0
rofi.xoffset:           0
rofi.opacity:           95
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      argb:dc111111, argb:dc111111
! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-urgent:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-active:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
! +++++++++++++++++++++++++++++++++++++++++
! +          Rofi color theme             +
! +++++++++++++++++++++++++++++++++++++++++
! 
! rofi.color-enabled: true
! 
! ! Window:           'background',  'border', 'separator'
! rofi.color-window: argb:cc252936,  #9575cd, argb:ffffffff
! 
! !   State:              'bg',       'fg',   'altbg',        'hlbg',         hlfg
! rofi.color-normal: argb:00252936, #ffffff, argb:00252936, argb:009575cd, #ff9575cd
! rofi.color-active: argb:00252936, #252936, argb:00252936, argb:009575cd, #ffc000
! rofi.color-urgent: argb:00252936, #ff0000, argb:00252936, argb:00252936, #ff0000
! 
! rofi.width: 95 
! rofi.height: 100
! rofi.padding: 18
! rofi.line-margin: 15
! rofi.lines: 12
! rofi.location: 0
! rofi.separator-style: none
! rofi.columns: 3
! rofi.font: Noto Sans 12
! rofi.bw: 0
! rofi.eh: 2
! rofi.hide-scrollbar: true
! rofi.show-icons: true
! !rofi.auto-select: false 
! rofi.display-drun:Launch
