[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cisu/Desktop/Darkest Dungeon.desktop]
row=4
col=0

[/home/cisu/Desktop/The Binding of Isaac Rebirth.desktop]
row=5
col=0

[/home/cisu/Desktop/steam.desktop]
row=6
col=0

[7740d551-89c7-460a-8ed8-b396eefff5f0]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/cisu]
row=3
col=0

