[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cisu/Desktop/Darkest Dungeon.desktop]
row=4
col=0

[/home/cisu/Desktop/The Binding of Isaac Rebirth.desktop]
row=5
col=0

[/home/cisu/Desktop/steam.desktop]
row=6
col=0

[/home/cisu/Desktop/test.c]
row=0
col=1

[/home/cisu/Desktop/Celeste.desktop]
row=1
col=1

[86F2EC51F2EC46D1]
row=7
col=0

[3846D3D946D395CA]
row=8
col=0

[c4b03f0e-c094-41ea-90ad-e20ab316c8fc]
row=0
col=0

[D634-3B3E]
row=1
col=0

[/]
row=2
col=0

[/home/cisu]
row=3
col=0

